<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Empleado - DNI</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/one-page-wonder.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/empleado/admin/(correo=${empleadoLog.mail})}">Alquiler de Vehículos - Home
            Empleado - Administrador</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="container" style="padding-top: 80px">
        <div class="mx-auto">
        <div class="align-items-center">
<!--        <div class="row align-items-center">-->
<!--            <div class="col-lg-10 order-lg-1">-->
                <div class="p-5">
                    <h2 class="display-8">INGRESE EL DNI DEL NUEVO EMPLEADO</h2>
                    <form class="col-lg-4 " action="/empleado/new_empleado_2/" method="GET">
                        <input type="hidden" name="ide" th:value="${empleadoLog.id}">
                        <label>DNI</label>
                        <input type="text" class="form-control" name="dni"/><br/>
                        <button type="submit" class="btn btn-primary">Siguiente</button>
                    </form>
<!--                </div>-->
            </div>
        </div>
        <div class="col-lg-10 order-lg-1">
            <div class="p-5">
                <h2> </h2>
                <br/>
                <br/>
                <h1 text="" class="display-4"></h1>
            </div>
        </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2023</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
