<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Alquiler de Vehiculos - Reserva</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Alquiler de Vehiculos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Alquiler de Vehiculos</h1>
        <h2 class="masthead-subheading mb-0">Encontra tu automovil ideal.</h2>
        <a href="/registro" class="btn btn-primary btn-xl rounded-pill mt-5">¡Registrate!</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Datos de la Reserva</h2>
            <form action="/reserva/confi_reserva" method="POST" enctype="multipart/form-data">

              <!-- Este p utiliza una etiqueta de Thymeleaf que preguntará si la variable 'error' no se encuentra null.
              Si contiene algún valor, lo introduce dentro de la etiqueta <p> y le aplica el style in-line -->
<!--              <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>-->
              <input type="hidden" name="idc" th:value="${clienteLog.id}">
              <input type="hidden" name="idv" th:value="${vehiculo.id}">

              <label><h3>DATOS DEL CLIENTE</h3></label>
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre" th:value="${clienteLog.nombre}" />

              <label>Apellido</label>
              <input type="text" class="form-control" name="apellido" th:value="${clienteLog.apellido}" />

              <label>DNI</label>
              <input type="text" class="form-control" name="dni" th:value="${clienteLog.dni}" />

              <label>Edad</label>
              <input type="text" class="form-control" name="id" th:value="${clienteLog.id}" />

              <label>Telefono</label>
              <input type="text" class="form-control" name="telefono" th:value="${clienteLog.telefono}" />

              <label>Direccion</label>
              <input type="text" class="form-control" name="direccion" th:value="${clienteLog.direccion}" />

              <label>E-Mail</label>
              <input type="email" class="form-control" name="email" th:value="${clienteLog.mail}"/>

<!--                DATOS VEHICULO     -->
              <label><h3>DATOS DEL VEHICULO</h3></label>
              <label>Patente</label>
              <input type="text" class="form-control" name="patente" th:value="${vehiculo.patente}"/>
              <label>marca</label>
              <input type="text" class="form-control" name="marca" th:value="${vehiculo.marca}"/>

              <label>Modelo</label>
              <input type="text" class="form-control" name="modelo" th:value="${vehiculo.modelo}"/>
              <label>Tipo Vehiculo</label>
              <input type="text" class="form-control" name="tipoVehiculo" th:value="${vehiculo.tipoVehiculo}"/>
              <label>Tipo Gama</label>
              <input type="text" class="form-control" name="typeGama" th:value="${vehiculo.typeGama}"/>

              <!--                DATOS VEHICULO     -->
              <label><h3>DATOS DE LA RESERVA</h3></label>
              <label>Fecha de Gestion</label>
              <input type="text" class="form-control" name="fechaRegistrp"  />// th:value="${vehiculo.typeGama}"/>
              <label>fecha de Retiro</label>
              <input type="text" class="form-control" name="fRetiro"   />// th:value="${vehiculo.typeGama}"/>
              <label>fecha de Devolucion</label>
              <input type="text" class="form-control" name="fDevolucion" />// th:value="${vehiculo.typeGama}"/>




              <br /><button type="submit" class="btn btn-primary">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>